<div class="container">
  <h1>
    ConfigCat A/B Testing Sample app with Amplitude tracking
  </h1>
  <p>
    The purpose of this sample is to demonstrate how to execute an A/B testing scenario using ConfigCat
    and Amplitude.<a href="https://configcat.com/blog" target="_blank" rel="noopener">Here is the original blog post</a> with more details.
  </p>
  <h2>
    Here is the basic concept:
  </h2>
  <ul>
    <li>Visitors are split into two groups.</li>
    <li>50% of the visitors will see a card with a <strong>gray button</strong> and the other 50% will see another card with a <strong>green button</strong> on
      it.</li>
    <li>This application shows one of the versions of the cards and sends tracking data to Amplitude to analyze visitor behavior.</li>
  </ul>
  <h2>The card</h2>
  <p>
    This is the card version generated for your visitor group. (Hit F5 a few times to get the other version)
    If you click on the <strong>Add To Cart</strong> button, the tracking data of the click event will be sent to Amplitude where you can analyze the A/B testing result as described in the <a
       href="https://configcat.com/blog" target="_blank" rel="noopener">blog post</a>.
  </p>
  <app-sample [configCatClient]=configCatClient></app-sample>
</div>
