<div class="wrapper d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Example card</h5>
      <img src="../assets/box.png" class="card-img-top" alt="box">
      <div *ngIf="!isGreenButtonEnabled">
        <button class="button-gray" (click)="buttonClicked()">Example button</button>
      </div>
      <div *ngIf="isGreenButtonEnabled">
        <button class="button-green" (click)="buttonClicked()">Example button</button>
      </div>
    </div>
  </div>
</div>
