.wrapper {
    text-align: center;
}

.dot {
    margin-top: 20px;
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}