<div class="wrapper">
    <button (click)="checkAwesome()">Check if Awesome Feature is turned ON</button>
    <div class="wrapper">
        <div class="green dot" *ngIf="isAwesomeEnabled"></div>
        <div class="red dot" *ngIf="!isAwesomeEnabled"></div>
    </div>
    <div class="wrapper">
        <input type="text" [(ngModel)]="userEmail">
        <button (click)="checkProofOfConcept()" >Check POC feature with Email</button>
    </div>
    <div class="wrapper">
        <div class="green dot" *ngIf="isPOCEnabled"></div>
        <div class="red dot" *ngIf="!isPOCEnabled"></div>
    </div>
</div>