<div class="container" style="text-align:center; max-width:850px">
  <h1>
    <strong>Welcome to the ConfigCat + Amplitude A/B Testing Sample app!</strong>
  </h1>
  <p>
    The purpose of this sample is to demonstrate how to execute an A/B testing scenario using ConfigCat
    and Amplitude hand in hand. <a href="https://configcat.com/blog" target="_blank" rel="noopener">Here</a> is the original blogpost with more details.
  </p>
  <p>
  Visitors are split into two groups.
  50% of the visitors will see a card with a gray button and the other 50% will see another card with a green button on it.
  This sample shows a version of the product cards and sends tracking data to Amplitude to analyze visitor behavior.
  </p>
  <p>
    This is your product card version based on your visitor group.
    Please click on the <strong>Add To Cart</strong> button.<br/> 
    The tracking data of the click event will be sent to Amplitude where you can analyze the A/B testing result as described in the <a href="https://configcat.com/blog" target="_blank" rel="noopener">blogpost</a>.
  </p>
  <app-sample [configCatClient]=configCatClient></app-sample>
</div>
