<div class="container" style="text-align:center; max-width:850px">
  <h1>
    <b>Welcome to ConfigCat + Amplitude A/B Testing Sample app!</b>
  </h1>
  <h4>
    
  </h4>
  <p>
    We would like to show a method how to A/B testing with ConfigCat and Amplitude. This sample belongs to a <a href="https://configcat.com/blog" target="_blank">blog post</a>
    about A/B testing and how to evaluate the result of the test in Amplitude.
  </p>
  <p>
    Let's assume we have a webshop (written in <a href="https://angular.io" target="_blank">Angular</a>). 
    We would like to make our <b>Add To Cart</b> button on our product card more eye-catching to get visitors to click on it more times and encourage them to buy more products on our site.
    We’d like to test two product card variants. A card with a gray button and on other one with a green button on it.
  </p>
  <p>
    This is your version:
  </p>
  <app-sample [configCatClient]=configCatClient></app-sample>
</div>
