<div class="wrapper d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Product</h5>
            <img src="../assets/box.png" class="card-img-top" alt="...">
            <p class="card-text">$ 1.00</p>
            <div *ngIf="!isGreenButtonEnabled">
                <button class="button-gray" (click)="buttonClicked()">Add To Cart</button>
            </div>
            <div *ngIf="isGreenButtonEnabled">
                <button class="button-green" (click)="buttonClicked()">Add To Cart</button>
            </div>    
        </div>
      </div>
</div>